{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div>
	<h1>Resume</h1>
	<hr />
	<div>
		<h5>Profile</h5>
		<div>
			Name: Tay Hui Lin
			<br/>
			Age: 18
			<br/>
			Date of Birth: 5 July 2000
			<br/>
			Tel: +65 9435 7399
			<br/>
			Email: s10178003@connect.np.edu.sg
			<br/>
			LinkedIn: <a href="https://www.linkedin.com/in/hui-lin-tay">linkedin.com/in/hui-lin-tay/</a>	
		</div>

		<br/>
		<h5>Education</h5>
		<div>
			Ngee Ann Polytechnic
			<br/>
			Apr 2017 – 2020
			<br/>
			Diploma in Information Technology​
			<br/>
			Cumulative Grade Point Average: 3.46
			<br/><br/>
			New Town Secondary School
			<br/>
			Jan 2013 – 2016
			<br/>
			Cambridge ‘O’ Level Certificate
			<br/>
			ELR2B2: 13 points
		</div>
		
		<br/>
		<h5>Work Experience</h5>
		<div>
			Dezainn
			<br/>
			Intern & Part-time Full-stack Web Developer
			<ul>
				<li>Develop website (<a href="https://www.dezainn.com">dezainn.com</a>) using React and Sails</li>
				<li>Learnt to be proficient with Gitflow Workflow</li>
				<li>Work with other developers in a team.</li>
				<li>Communicate with overseas co-worker.</li>
			</ul>
			
			Sushi Express
			<br/>
			Part-time Kitchen & Service Crew:
			<ul>
				<li>Maintained high standards of hygiene and food preparation.</li>
				<li>Advised and informed customers regarding menu items.</li>
				<li>Developed rapport with regular customers and worked efficiently and calmly under pressure.</li>
				<li>Learned to work in a team of people with different skill sets.</li>
			</ul>
		</div>
	</div>
</div>
<div>
	<h1>Self Intro</h1>
	<p>
		I am a second-year student from Ngee Ann Polytechnic, studying for a Diploma in Information Technology.
		<br/><br/>
		Whether I am working alone or in a team, I strive to fulfill my tasks to the best of my abilities. As a self-motivated learner, I am always looking to improve my abilities by learning new languages and keeping up with the ones I know. With a strong interest and aptitude in programming, I have chosen to specialize in Mobile Application Development.
		<br/><br/>
		I am looking to be part of a company that allows me to contribute to the team with my skills, and to expand my knowledge of the IT world.
	</p>
</div>
{% endblock %}
